/* Reset */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout */

body {
    display: flex;
    flex-direction: row;

    min-height: 100vh;
}

.app {
    flex: 1;
}

.mailboxes {
    width: 20%;
    float: left;
    min-height: 100vh;
}

.mailbox {
    width: 80%;
    float: left;
    min-height: 100vh;
}

/* Mailbox list style */

.mailboxes {
}

/* Email table style */

.email-list {
    width: 100%;
    border: 1px solid #ddd;
}

.email-list tbody > tr:nth-child(odd) {
    background: #f9f9f9;
}

/* Mailbox style */

.mailbox {
}

/* 'None selected' message */

.none-selected {
    text-align: center;
    background: #f9f9f9;
}
