/* Reset */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout */

body {
    display: flex;
    flex-direction: row;

    min-height: 100vh;
}

.app {
    flex: 1;
}

.mailboxes {
    width: 20%;
    float: left;
    min-height: 100vh;
}

.mailbox {
    width: 80%;
    float: left;
    min-height: 100vh;
}

.mailbox .email-list {
    min-height: 50%;
}

.mailbox .emails {
    min-height: 50%;
}

/* Mailbox list style */

.mailboxes {
    padding: 35px 65px;
    margin: 0 auto;

    list-style-type: none;
    font-size: 1.2em;
    border-right: 2px solid black;
}

/* Mailbox style */

.mailbox {
}

/* Email table style */

table {
    width: 100%;

    border-collapse: collapse;
    border-style: hidden;
}

.email-list td, .email-list th {
    border: 1px solid black;
}

.email-list tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

.email-list td {
    padding-left: 20px;
}

/* Email style */

.email-viewer {
    border-top: 1px solid black;
}

.email {
    margin: 25px 0;
    padding: 25px;
}

.email dt {
    font-weight: bold;
    font-size: 0.9em;
}

.email dd {
    margin-bottom: 7px;
}

.email dl {
    padding-bottom: 15px;
}

.email .body {
    padding-top: 15px;
    border-top: 1px solid black;
}

/* 'None selected' message */

.none-selected {
    text-align: center;
    background: #f9f9f9;
}
