/* Reset */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout */

body {
    display: flex;
    flex-direction: row;

    min-height: 100vh;
}

.app {
    flex: 1;
}

.mailboxes {
    width: 20%;
    float: left;
    min-height: 100vh;
}

.mailbox {
    width: 80%;
    float: left;
    min-height: 100vh;
}

/* Mailbox list style */

.mailboxes {
    padding: 35px 65px;
    margin: 0 auto;

    list-style-type: none;
    font-size: 1.2em;
    border-right: 2px solid black;
}

/* Mailbox style */

.mailbox {
}

/* Email table style */

.email-list {
    width: 100%;
}

.email-list tbody > tr:nth-child(odd) {
    background: #f9f9f9;
}

/* 'None selected' message */

.none-selected {
    text-align: center;
    background: #f9f9f9;
}
