body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.app {
    width: 300px;
    margin: 0 auto;
}

.app h1 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;

    color: #0066CC;
    font-weight: bold;

    font-size: 14px;
    line-height: 20px;
}
