.mailboxes {
    margin: 25px auto;
    width: 120px;
}

.mailbox {
    margin-top: 25px;
}

.email-viewer {
    padding: 25px;
}

.none-selected {
    margin: 20px;
    padding: 20px;
    font-size: 1.2em;
}
